.login__section{
    background-color: white;
    padding: 20px;
    height: 480px;
    width: 100%;
}
.account_check{
    display: flex;
}
@media (max-width: 980px) {
  /* CSS rules for screens with a width of 768 pixels or less */
  .account_check{
    display: block;
}
}
.password-input {
  position: relative;
}

.show-hide-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

