/* SideMenu.css */
.side-menu {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -300px;
	background-color: white;
	padding: 20px;
	color: black;
	transition: right 0.3s ease;
    
}

.side-menu.open {
	right: 0;
}

.side-menu ul {
	list-style: none;
	padding: 0;
    opacity: 0.8;
}

.side-menu li {
	margin-bottom: 10px;
	cursor: pointer;
}
.side-menu li:hover {
	color: rgb(254, 132, 2);
}
.signin{
    background-color: rgb(21, 104, 228);
    padding: 5px 40px;
    border-radius: 5PX;
    color: white;
}
.signin:hover{
    background-color: rgb(254, 132, 2);
}

/* .side-menu button {
	background: none;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
} */
.menu-icon:hover{
border: 3px solid gray;
border-radius: 5px;
}