.signup__section{
    background-color: white;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.password-input {
  position: relative;
}

.show-hide-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

