.home{
    background-image: url('https://www.evangadi.com/themes/humans/assets/images/misc/bg-svg-f.svg');
    background-size: cover;
    background-color: #f8f8f8;
    height: 100%;
    background-repeat: no-repeat;
    
}
.home__internal{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    
}