.home{
    background-image: url('https://www.evangadi.com/themes/humans/assets/images/misc/bg-svg-f.svg');
    background-size: contain;
    background-color: #f8f8f8;
    height: 100vh;
    background-repeat: no-repeat;
}